*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #222;
}
div{
    width: 500px;
    height: 500px;
    background-color: black;
    animation-name: one;
    animation-duration: 2.3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    border-radius: 50%;
    animation-direction: alternate;
}
@keyframes one{
    0%{
        background-color: rgb(123, 255, 0);
        box-shadow: 0 0 20px rgb(9, 255, 0);
        scale: 1.3;
    }
    100%{
        background-color: rgb(255, 255, 255);
         border: 5px solid black;
         /* translate: 100% 0; */
         scale: .1
    }
}